# Git
.git
.gitignore

# Environment
.env
.env.*

#Docs
docs/*
capacity_planning/*
sustentacion/*
collections/*

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Testing
.pytest_cache/
.coverage
coverage.xml
test-results.xml

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Databases
*.db
*.sqlite

# Logs
*.log

# Docker
Dockerfile
docker-compose*.yml
.dockerignore

# Documentation
README.md
*.md

# SonarQube
.scannerwork/
sonar-project.properties

# CI/CD
.github/